<!DOCTYPE html>
<html>

<head>
	<title> register </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="icon" href="{{ url_for('static', filename='img/logo/website-logo.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='todos/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='todos/register.css') }}">
</head>

<body>
	<script>
		$(document).ready(function() {
			// this is not document on load
			// keybindings
			$(document).keypress(function(event) {
				// enter
				// https://stackoverflow.com/a/6542455/12172291
				if (event.which == 13) {
					create_new_account()
				}
			});
		})


		function create_new_account() {
			const username_input = $('#username')
			const username_small = $("#username_small")

			const email_input = $('#email')
			const email_small = $("#email_small")

			const password_input = $('#password')
			const password_small = $('#password_small')

			const password_check_input = $("#password_check")
			const password_check_small = $("#password_check_small")

			const remember_me_checkbox = $("#remember-me")

			const ui_controller = {
				"username": {
					"input": username_input,
					"small": username_small
				},
				"email": {
					"input": email_input,
					"small": email_small
				},
				"password": {
					"input": password_input,
					"small": password_small
				},
				"password_check": {
					"input": password_check_input,
					"small": password_check_small
				}
			}
			// console.log("creating new account ...")
			// console.log("just pressed enter")

			const username = username_input.val()
			const email = email_input.val()
			const password = password_input.val()
			const password_check = password_check_input.val()
			const remember_me = remember_me_checkbox.is(":checked")

			payload = {
				"username": username,
				"email": email,
				"password": password,
				"password_check": password_check,
				"remember_me": remember_me
			}

			let has_empty = false;
			for (var key in payload) {
				console.log(key)
				if (key == "remember_me") {
					continue
				}
				if (payload[key] == "") {
					has_empty = true;
					ui_controller[key]["input"].css({ "border-color": "#e74c3c" })
					ui_controller[key]["small"].text("field cannot be empty")
					ui_controller[key]["small"].css({ "visibility": "visible" })
				} else {
					ui_controller[key]["small"].css({ "visibility": "hidden" })
					ui_controller[key]["input"].css({ "border-color": "#2ecc71" })
				}
			}

			if (has_empty) {
				console.log("input cannot be empty")
				return
			}

			// console.log(payload)

			$.ajax({
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify(payload),
				dataType: "json",
				url: "/todos/api/register/validation",
				// if this is wrong, then we do something about it
				// url: "/todos/api/mongo/ad",
				success: function(json_response) {
					// here i should receive the oid from database
					console.log(json_response)

					let has_errors = false
					for (var key in json_response) {
						if (key == "register_token") {
							continue
						}
						if (json_response[key]["passed"] === false) {
							has_errors = true
							// 4jvndu__!@#qmgh49195AND
							ui_controller[key]["input"].css({ "border-color": "#e74c3c" })
							ui_controller[key]["small"].text(json_response[key]["error_message"])
							ui_controller[key]["small"].css({ "visibility": "visible" })
						} else {
							ui_controller[key]["small"].css({ "visibility": "hidden" })
							ui_controller[key]["input"].css({ "border-color": "#2ecc71" })
						}
					}

					if (has_errors) {
						return;
					}

					payload["register_token"] = json_response["register_token"]

					$.ajax({
						type: "POST",
						contentType: "application/json",
						data: JSON.stringify(payload),
						dataType: "json",
						url: "/todos/register",
						// if this is wrong, then we do something about it
						// url: "/todos/api/mongo/ad",
						success: function(data) {
							console.log("account created with success :)")
							username_input.val("")
							email_input.val("")
							password_input.val("")
							password_check_input.val("")
							remember_me_checkbox.val("")
			        if (data.redirectTo) {
			            // data.redirect contains the string URL to redirect to
			            window.location.href = data.redirectTo;
			        } else {
			        	console.log("there is not redirect")
			        }
						},
						error: function(error) {
							console.log(error)
							alert('error from server')
						}
					})


				},
				error: function() {
					alert('some error occured. cant update UI')
				}
			})


		}
	</script>



	<div class="container">
		<div class="header">
			<h2>Create Account</h2>
		</div>
		<div id="form" class="form">
			<div class="form-control">
				<label for="username">[Username]</label>
				<input type="text" placeholder="alexzander" id="username" name="username" required autofocus>
				<small id="username_small">Error message</small>
			</div>

			<div class="form-control">
				<label for="username">[Email]</label>
				<input type="email" placeholder="alexxander18360@gmail.com" id="email" name="email" required>
				<small id="email_small">Error message</small>
			</div>

			<!-- 			<div class="form-control">
				<label for="username">[Email](Again)</label>
				<input type="email" placeholder="alexxander18360@gmail.com" id="email" name="email" required>
				<small>Error message</small>
			</div> -->

			<div class="form-control">
				<label for="username">[Password]</label>
				<input type="password" placeholder="1238g12hvb12y41!@!29_!$!@$!@#" id="password" name="password" required>
				<small id="password_small">Error message</small>
			</div>

			<div class="form-control">
				<label for="username">[Password](Again)</label>
				<input type="password" placeholder="1238g12hvb12y41!@!29_!$!@$!@#" id="password_check" name="password-check"
					required>
				<span class="password-hint"> (make sure its the same, buddy:)</span>
				<small id="password_check_small">Error message</small>
			</div>

			<div class="form-control">
				<input name="remember" type="checkbox" id="remember-me">
				<span class="remember-me-span">
					remember me
				</span>
			</div>

			<button id="create-account-button" onclick="create_new_account()">
				Create New Account
			</button>
		</div>
	</div>
</body>

</html>
