<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> grafana </title>
</head>
<body>
	<div>
		<iframe src="http://api_key:{{api_key}}@localhost:3000/d-solo/gHTokV2nz/testing_grafana?orgId=1&panelId=16&refresh=5s" width="600" height="600" frameborder="10"></iframe>
		<!-- it doesnt want me to log in, when using curl in terminal, it shows something but i dont know if that is a good response or not -->
		</iframe>
	</div>
</body>
</html>